.bar {
  width: 295px;
}

.bar-left,
.bar-inner,
.bar-right {
  height: 2px !important;
  padding: 0 !important;
  border: none !important;
  box-shadow: none !important;
}

.multi-range-slider .thumb::before {
  content: '';
  background-color: inherit;
  position: absolute;
  width: 12px !important;
  height: 12px !important;
  border-radius: 50%;
  z-index: 1;
  margin: -6px -12px !important;
  cursor: pointer;
  box-shadow: 0px 0px 4px 0px #838383cc !important;
}

.min-caption,
.max-caption {
  display: none;
}
