@import '../../../../scss/vars';

.topbar {
  display: flex;
  justify-content: space-between;

  &__title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: $text-clr;
  }
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  gap: 30px;
  width: 70%;
}

.list {
  margin: auto;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 35px;

  &__item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;

    &_password {
      margin-top: 40px;
    }
  }

  &__label {
    text-overflow: ellipsis;
    white-space: wrap;
    overflow: hidden;
    text-transform: uppercase;
    color: $text-clr;
    font-weight: 600;
  }

  &__input {
    border: 2px solid $input-clr;
    border-radius: 2px;
    color: $text-clr;
    min-width: 70%;
  }
}
