@import '../../../scss/vars';

.good {
  padding: 60px 30px;

  &__slider {
    &__item {
      text-align: center;
    }
  }

  &__preview {
    display: flex;
    gap: 30px;
  }

  &__photos {
    position: relative;
    width: 50%;
  }

  &__rating {
    display: flex;
    gap: 10px;
  }

  &__rating__reviews,
  &__features {
    font-weight: 500;
    opacity: 0.7;

    &:hover {
      transition: all 0.2s ease;
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &__features {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 60px;
  }

  &__announce {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__brand {
      opacity: 0.6;
      text-transform: uppercase;
    }

    &__title {
      font-size: 40px;
    }

    &__article {
      font-weight: 600;
      opacity: 0.4;
    }

    &__price {
      font-size: 40px;
      font-weight: 500;
      margin-top: 30px;
    }

    &__cartBtn {
      margin-top: 30px;
      width: 220px;
      display: flex;
      align-items: center;
      gap: 10px;

      &__icon {
        font-size: 20px;
      }
    }
  }

  &__image {
    width: 400px;
  }

  &__info {
    width: 80%;
    margin: auto;
    margin-top: 50px;
  }
}

.reviews {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.slickPrev,
.slickNext {
  position: absolute;
  top: 50%;
  background: transparent;
  border: none;
  z-index: 2;
  font-size: 50px;
  color: $text-clr;

  &:hover {
    transition: all 0.5s ease;
    cursor: pointer;
    transform: scale(1.2);
  }
}

.slickPrev {
  left: 0;
}

.slickNext {
  right: 0;
}
