@import '../../../../scss/vars';
@import '../../../../scss/app.scss';

.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__saveBtn {
    width: 103px;
  }
}

.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 80%;
  flex: 1 1 auto;
  margin-bottom: 20px;

  &__input {
    min-width: 100%;
    resize: vertical;
    min-height: 53px;
  }

  &__title {
    text-transform: uppercase;
    color: $text-clr;
    font-weight: 600;
    display: flex;
    align-items: center;
  }

  &__categories {
    :global {
      .select__control {
        @extend .border-input;
        box-shadow: none;
        &:hover,
        &:focus {
          border-color: #777777;
        }
      }

      .select__contrrol--is-focused {
        border-color: #777777;
      }
    }

    &_invalid {
      :global {
        .__control {
          border-color: $not-valid-clr;
        }
      }
    }
  }
}

.features {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;

  &__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  &__item {
    display: flex;
    gap: 10px;
  }

  &__input {
    width: 100%;
  }

  &__btn {
    border-radius: 50px;
    &_add {
      background: $grey-light-clr;
      color: $grey-dark-clr;
      padding: 10px 35px;
    }
  }
}

.images {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;

  &__grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }

  &__block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 400px;
    background: $input-clr;
    padding: 15px;
    border-radius: 2px;
    position: relative;
  }

  &__img {
    height: 100%;
    width: 100%;
  }

  &__cross {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    background: $input-clr;
  }
}
