$main-clr: #1e2530; // Основной цвет фонов
$dop-clr: #de9179; // Дополнительный цвет для текста и кнопок
$back-clr: #fff; // Дополнительный цвет фона
$text-clr: #404040; // Основной цвет текста на темных фонах
$text-wh-clr: #fff; // Основной цвет текста на темных фонах
$brand-clr: #d8d8d8; // Задний фон брендов
$input-clr: #dcdcdc; // Цвет input без наведения
$input-h-clr: #fff; // Цвет input при наведении
$border-clr: #ececec; // Цвет тонкой рамки
$thin-border: 2px solid $border-clr; // Тонкая серая рамка
$dark-clr: #171717; // "Черный" цвет
$transition: all 0.4s ease; // Анимация по умолчанию
//$variable1 = Максимальное значение шрифта, $variable2 = минимальное значение шрифта
// Это нужно для динамчического изменения шрифта в зависимости от размера экрана
//пример применения:   &__title {
//    color: #e3e3e3;
//    @include dFont(15, 12);
//  }
@mixin dFont($variable1, $variable2) {
  font-size: calc(
    (100vw - 480px) / (1280 - 480) * (#{$variable1} - #{$variable2}) + #{$variable2}px
  );
}
