@import './vars';

.admin-title {
  font-size: 27px;
  font-weight: 600;
  color: $text-clr;
  margin-bottom: 30px;
}

.select__control {
  // border-radius: $input-brad !important;
  padding: 7px 9px;
}

.select__menu {
  border-radius: $input-brad !important;
}

.select__indicator {
  cursor: pointer;
}
