@import './vars';
@import './libs/normalize';

body {
  color: $text-clr;
}

.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}

input,
textarea {
  border-radius: $input-brad;
  border: none;
  outline: none;
  color: #939393;
  padding: 15px 20px;
  font-size: 15px;
}

.button {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  background-color: $dop-clr;
  border-radius: 10px;
  padding: 13px 15px;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  transition: 0.2s;
  border: none;
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease;

  &:hover {
    transition: box-shadow 0.2s ease;
    box-shadow: inset 0 0 20px 0 #00000013;
  }

  &:focus {
    box-shadow: inset 0 0 20px 0 #00000033;
  }

  &[disabled] {
    opacity: 0.5;
    pointer-events: none;
  }
}

.border-input {
  border: 2px solid $input-clr;
  border-radius: 2px;
  color: $text-clr;

  &:focus {
    transition: $transition;
    border-color: #777777;
  }
}

.border-btn {
  color: $text-clr;
  background: transparent;
  border-radius: 2px;
  border: 1px solid $text-clr;
  text-transform: uppercase;

  &_warn {
    &:hover {
      border-color: $warn-clr;
      color: $warn-clr;
      box-shadow: inset 0 0 10px rgba($color: $warn-clr, $alpha: 0.2);
    }
  }
  &:hover {
    transition: all 0.2s ease;
  }

  &:focus {
    box-shadow: none;
  }

  &_save {
    &:hover {
      transition: all 0.2s ease;
      border-color: $success-clr;
      color: $success-clr;
      box-shadow: inset 0 0 10px rgba($color: $success-clr, $alpha: 0.2);
    }
  }
}

.spinner {
  animation: rotate 2s linear infinite;
  z-index: 2;
  margin: 0;
  display: flex;
  color: $text-wh-clr;

  & .path {
    stroke: $text-wh-clr;
    stroke-linecap: round;
    animation: dash 1.5s ease-in-out infinite;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 150;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -35;
  }
  100% {
    stroke-dasharray: 90, 150;
    stroke-dashoffset: -124;
  }
}
