@import './vars';

.goodDots {
  color: #fff;
  display: flex !important;
  justify-content: center;
  gap: 5px;
  margin-top: 20px;

  li {
    button {
      width: 10px;
      height: 10px;
      border-radius: 23px;
      background-color: $text-clr;
      border: none;
      cursor: pointer;
      outline: none;
      font-size: 0;
      line-height: 0;
      cursor: pointer;
      color: transparent;
      border: 0;
      outline: none;
      transition: all 0.5s ease;
    }
  }

  li.slick-active {
    button {
      width: 35px;
    }
  }
}
