@import '../../scss/vars';

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1 1 auto;

  &__numbers {
    font-size: 120px;
    font-weight: 700;
    color: #c4c4c4;
  }

  &__text {
    font-size: 30px;
    color: #c4c4c4;
  }

  &__buttons {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  &__button {
    &_home {
      background: $main-clr;
    }

    &__icon {
      font-size: 18px;
    }
  }
}
