@import '../../../../scss/vars';

.wrapper {
  display: flex;
  gap: 46px;
  margin: 46px 0;

  &__content {
    flex: 1 1 auto;
  }
}

.sidebar {
  &__title {
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 600;
    color: $text-clr;
  }

  &__menu {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    gap: 20px;
    width: 100%;
  }

  &__item {
    width: 100%;
    text-align: center;
    border: 2px solid $text-clr;
    color: $text-clr;
    padding: 10px;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.active {
  color: $dop-clr;
  border: 2px solid $dop-clr;
}
