@import '../../../scss/vars';

.sort {
  width: 480px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border-right: $thin-border;
  position: relative;

  &__label,
  &__selected {
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    color: $dark-clr;
  }

  &__selected {
    color: #828282;
    position: relative;
    cursor: pointer;
  }

  &__list {
    position: absolute;
    top: 68px;
    width: 482px;
    left: -2px;
    border: $thin-border;

    &__item {
      width: 100%;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: $thin-border;
      cursor: pointer;
      transition: $transition;

      font-weight: 600;
      font-size: 17px;
      line-height: 20px;
      color: #828282;

      &:hover {
        background: $border-clr;
        color: $dark-clr;
      }

      &:last-child {
        border: none;
      }
    }
  }
}

.selected {
  color: $dop-clr;
}
